SEMANTIC_DB_NAME=""
SEMANTIC_DB_ID=""
SEMANTIC_WORKSPACE_ID=""


POSTGRES_DB_NAME=""
POSTGRES_DB_USER=""
POSTGRES_DB_PASSWORD=""
POSTGRES_DB_HOST=""
POSTGRES_DB_PORT=""

MS_SQL_SERVER_DB_NAME=""
MS_SQL_SERVER_HOST=""
MS_SQL_SERVER_USER=""
MS_SQL_SERVER_PASSWORD=""
MS_SQL_SERVER_DRIVER=""

AZURE_OPENAI_API_BASE=""
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_MODEL_NAME=""
AZURE_OPENAI_MODEL_VERSION="2025-04-01-preview"


CLAUDE_MODEL_NAME="global.anthropic.claude-haiku-4-5-20251001-v1:0"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
CLAUDE_ANTHROPIC_VERSION="bedrock-2023-05-31"
CLAUDE_SERVICE_NAME="bedrock-runtime"


XAI_API_KEY=""
XAI_BASE_URL="https://api.x.ai/v1/"
XAI_MODEL_NAME="grok-4-1-fast-non-reasoning"


OLLAMA_BASE_URL="http://localhost:11434"
OLLAMA_MODEL_NAME="deepseek-coder:1.3b"