langgraph
langchain
langchain-openai
langchain-xai
langchain-aws[anthropic]
langchain-ollama
langgraph-cli[inmem]
python-dotenv
ipython
sqlalchemy
azure-identity
psycopg2-binary
streamlit
matplotlib
plotly
kaleido
fastapi
uvicorn
# sqlite3 is a built-in Python module, no need to install it.
qdrant-client
sentence-transformers
torchvision
